@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Variables */
 :root {
   --backgroundColor: #070707;
   --secundary-backgroundColor: #dfdfdf;
   --ter-backgroundColor: #252525;
   --border-backgroundColor: #00ccff;
   
   --textColor: #e3e3e3;
   --secundary-textColor: #202020;
 }
/* Main */
.main {
  background: var(--secundary-backgroundColor);
  height: 100vh;
  width: 100%;
}

.special-texts {
  color: #00ccff;
}

/* Ladding Page */
.ladding-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--secundary-textColor);
  user-select: none;
}

.user-apresent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Sans-Serif', 'Quicksand';
}

.text-user-name {
  font-size: 80px;
}

.medias-link {
  font-size: 20px;
  padding: 10px;
}

.medias-link a {
  padding: 5px;
}

/* personal-projects */
.personal-projects {
  background: var(--backgroundColor);
  height: 203vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 15px;
  color: var(--textColor);
}

.games-project {
  display: flex;
  flex-direction: column;
}

.arts {
  display: flex;
  flex-direction: column;
}

.p-text-global {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.project-list-global {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.p-p-global {
  height: 330px;
  width: 250px;
  background: var(--ter-backgroundColor);
  border-radius: 12px;
}

.img-test {
  height: 180px;
  width: 100%;
  border-radius: 12px;
  background: #00ccff;
}

.name-project {
  padding: 6px;
  font-size: 25px;
  color: var(--textColor);
}

.description-project {
  padding: 6px;
  font-size: 15px;
  color: var(--textColor);
}
