@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Variables */
 :root {
   --backgroundColor: #141414;
   --secundary-backgroundColor: #dfdfdf;
   --ter-backgroundColor: #242424;
   --border-backgroundColor: #00ccff;
   
   --textColor: #e3e3e3;
   --secundary-textColor: #202020;
 }
/* Main */
.main {
  background: var(--secundary-backgroundColor);
  height: 100vh;
  width: 100%;
  font-family: 'Sans-Serif', 'Quicksand';
  user-select: none;
}

.special-texts {
  color: #00ccff;
}

/* Ladding Page */
.ladding-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--secundary-textColor);
}

.user-apresent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-user-name {
  font-size: 80px;
}

.medias-link {
  font-size: 20px;
  padding: 10px;
}

.medias-link a {
  padding: 5px;
}

.firewave_icon {
  height: 50px;
  width: 50px;
  position: relative;
  right: 47%;
  top: 27vh;
  opacity: 60%;
}
/* About Me */
.about-me {
  background: var(--backgroundColor);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  color: var(--textColor);
  gap: 20px;
  transition: all 0.5s;
}

.about-description {
  font-size: 30px;
  width: 110vh;
}

.about-text {
  font-size: 70px;
}
/* personal-projects */
.personal-projects {
  background: var(--secundary-backgroundColor);
  height: 100;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 15px;
  color: var(--textColor);
}

.games-project {
  display: flex;
  flex-direction: column;
}

.arts {
  display: flex;
  flex-direction: column;
}

.p-text-global {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 10px;
  color: var(--secundary-textColor);
}

.project-list-global {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.p-p-global {
  height: 350px;
  width: 250px;
  background: var(--ter-backgroundColor);
  border-radius: 12px;
}

.img-test {
  height: 200px;
  width: 100%;
  border-radius: 12px;
}

.name-project {
  padding: 7px;
  font-size: 20px;
  color: var(--textColor);
}

.description-project {
  padding: 7px;
  font-size: 15px;
  color: var(--textColor);
}

.last-update {
  position: relative;
  top: 10px;
  padding: 7px;
  font-size: 15px;
  color: #888888;
}
/* Responsive */
@media screen and (max-width: 768px){
  .firewave_icon {
    right: 42%;
    top: 32vh;
  }
  .text-user-name {
    font-size: 40px;
  }
  
  .user-description {
    font-size: 90%;
    font-weight: 300px;
  }
  
  .medias-link {
    padding: 10px;
    font-size: 20px;
  }
  
  .personal-projects {
    height: 100vh;
    align-items: center;
  }
  
  .about-me {
    padding-left: 20px;
  }
  .about-text {
    font-size: 30px;
  }
  
  .about-description {
    width: 45vh;
    font-size: 20px;
  }
}
